<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.amazon.listeners.Listeners" />
	</listeners>

	<test name="Test">

		<classes>
			<class name="com.amazon.testcases.LoginPageTestCase" />
			<class name="com.amazon.testcases.HomePageTestCase" />
			<class name="com.amazon.testcases.AmazonPayPageTestCase" />
			<class name="com.amazon.testcases.MobileRechargePageTestCase" />
			<class name="com.amazon.testcases.PaymentGatewayPageTestCase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->